* {
    background-color: hsl(212, 45%, 89%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 0;
    text-align: center;
    border-radius: 15px;
    padding-left: 6px;
    padding-right: 6px;
    width: 240px;
}

.write, figure {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 225px;
    border-radius: 10px;
    background-color: white;
}

h1 {
    background-color: white;
    font-size: 18px;
    font-weight: 700;
}

h2 {
    background-color: white;
    font-size: 15px;
    font-weight: 400;
}